<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head'); %>
</head>
<body class="container" class="bg-light">

<header>
    <%- include('../../partials/header'); %>
</header>

<main>
    <div class="py-5 text-center">
        <%- include('../../partials/logo'); %>
        <h2>Product</h2>
        <p class="lead">Halaman ini digunakan untuk input master produk yang digunakan untuk transaksi pada halaman home nantinya. Ini sebagai master data untuk penginputan data bisa digunakan untuk tambah, edit, hapus.</p>
    </div>

    <div class="row g-3">
        <div class="col-md-5 col-lg-4 order-md-last">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">List Product</span>
                <span class="badge bg-secondary rounded-pill"></span>
            </h4>
            <ul class="list-group mb-3">
                <% products.forEach(function(product) { %>
                    <a href="product/edit/<%= product.id %>" class="text-decoration-none text-dark">
                        <li class="list-group-item d-flex justify-content-between lh-sm">
                            <div>
                                <h6 class="my-0"><%= product.name %></h6>
                                <small class="text-muted"><%= product.desc %></small>
                            </div>
                            <span class="text-muted">Rp.<%= product.price %></span>
                        </li>
                    </a>
                <% }); %>
            </ul>
        </div>

        <div class="col-md-7 col-lg-8">
            <h4 class="mb-3">Form Product</h4>
            <form class="needs-validation" action="product/add" method="POST">
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="firstName" class="form-label">Name</label>
                        <input type="text" class="form-control" name="name" placeholder="Nama Produk"  required>
                    </div>

                    <div class="col-sm-6">
                        <label for="firstName" class="form-label">Price</label>
                        <input type="number" class="form-control" name="price" placeholder="Harga Produk" required>
                    </div>

                    <div class="col-sm-12">
                        <label for="firstName" class="form-label">Description</label>
                        <textarea type="text" class="form-control" name="desc" placeholder="Deskripsi Produk" required cols="2" rows="2"></textarea>
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <button class="w-100 btn btn-primary btn-lg" type="submit">Submit Product</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>

<footer>
    <%- include('../../partials/footer'); %>
</footer>

</body>
</html>